# Non-production mapping only. This file is not invoked by post-image.sh.
image microfx-imx6dl-dg1-prototype.img {
  hdimage {
    partition-table-type = "mbr"
  }

  partition u-boot {
    in-partition-table = false
    image = "u-boot.imx"
    offset = 1K
  }

  partition boot {
    partition-type = 0x83
    image = "boot.ext4"
    offset = 8M
    size = 64M
  }

  partition root-a {
    partition-type = 0x83
    image = "rootfs.ext4"
    size = 1536M
  }

  partition root-b {
    partition-type = 0x83
    image = "rootfs.ext4"
    size = 1536M
  }

  partition data {
    partition-type = 0x83
    image = "data.ext4"
    size = 512M
  }
}
